.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}

.footer__socials {
    display: flex;
    margin-bottom: 1rem;
}

.footer__socials > * + * {
    margin-left: 2.5rem;
}

.social__link {
    color: var(--secondary-grey);
}

.social__link:hover {
    color: var(--primary-yellow);
}

.social__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: currentColor;
}