.home__section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 5rem;
}

.home__title {
    color: var(--primary-yellow);
    font-size: 1.25rem;
    margin-left: 0.2rem;
    margin-bottom: 1.5rem;
}

.home__username {
    color: var(--secondary-grey);
    font-size: var(--text-4xl);
    font-weight: 600;
}

.home__subtitle {
    margin-top: 0.625rem;
    font-size: var(--text-3xl);
    font-weight: 600;
}

.home__description {
    margin-top: 1.25rem;
    font-size: var(--text-lg);
    max-width: 32rem;
}

.home__cta {
    margin-top: 5rem;
}

.cta__link {
    color: var(--primary-yellow);
    text-decoration: none;
    border: 1px solid var(--primary-yellow);
    padding: 1.25rem 1.75rem;
    border-radius: 0.75rem;
}

.cta__link:hover {
    background-color: var(--primary-yellow);
    color: #56BAEC;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0. 0.2, 1);
    transition-duration: 150ms;
}

/* Medium */
@media (min-width: 640px) {
    .home__username {
        font-size: var(--text-5xl);
    }
    
    .home__subtitle {
        font-size: var(--text-4xl);
    }
}

/* Large */
@media (min-width: 768px) {
    .home__username {
        font-size: var(--text-7xl);
    }
    
    .home__subtitle {
        font-size: var(--text-6xl);
    }
}