.header__container > a {
    text-decoration: none;
    color: #000000;
}

.picture__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 10rem;
}

.picture {
    border-radius: 9999px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.picture:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
}